@model SeniorLearn.Areas.Member.Models.Course.Create
@{
    ViewData["Title"] = "Create a Course";
}

<h1 class="text-center mt-4">@ViewData["Title"]</h1>

<h1>
    <a href="@Url.Action("Create", "Lesson")" class="btn btn-primary">Switch to Lesson</a>
</h1>

<form asp-action="Create" method="post" class="border p-4 shadow-sm rounded-bg-dark">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input asp-for="CourseName" class="form-control" placeholder="e.g. Programming Fundamentals">
        <label asp-for="CourseName">Course Name</label>
        <span asp-validation-for="CourseName" class="text-danger mb-3"></span>
    </div>

    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control mb-3" placeholder="A description about the course" style="height: 100px"></textarea>
        <label asp-for="Description">Description</label>
        <span asp-validation-for="Description" class="text-danger mb-3"></span>
    </div>

    <button type="submit" class="w-100 btn btn-primary w-100">Create Course</button>
</form>
