@model SeniorLearn.Areas.Member.Models.Course.Create

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Create a Course</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Design impactful learning experiences that empower your students to succeed!</p>
    </div>
</div>

<h1>
    <a href="@Url.Action("Create", "Lesson")" class="btn btn-primary">Switch to Lesson</a>
</h1>

<form asp-action="Create" method="post" class="border p-4 shadow-sm rounded-bg-dark">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input asp-for="CourseName" class="form-control" placeholder="e.g. Programming Fundamentals">
        <label asp-for="CourseName">Course Name</label>
        <span asp-validation-for="CourseName" class="text-danger mb-3"></span>
    </div>

    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control mb-3" placeholder="A description about the course" style="height: 100px"></textarea>
        <label asp-for="Description">Description</label>
        <span asp-validation-for="Description" class="text-danger mb-3"></span>
    </div>

    <button type="submit" class="w-100 btn btn-primary w-100">Create Course</button>
</form>
