@model IEnumerable<EnrolmentDTO>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Available for Enrolment</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Enroling in the diverse lessons offered at SeniorLearn not only equips you with expert knowledge and practical skills, but also provides a supportive environment where you can explore your passions.</p>
    </div>

</div>
@if(!User.Identity!.IsAuthenticated)
{
    <div class="alert alert-info alert-dismissible fade show" role="info">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        You'll need an account with us to view further information about these lessons.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@{
    var error = TempData["Error"];
    var success = TempData["Success"];

    if (error != null)
    {
        <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                @error
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    else
    {
        <div style="display: none"></div>
    }
    if (success != null)
    {
        <div class="alert alert-success alert-dismissible d-flex align-items-center fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                @success
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    else
    {
        <div style="display: none"></div>
    }
}
<table class="table table-responsive table-bordered table-striped table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Course</th>
            <th scope="col">Information</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => m.Title)</td>
                <td>@Html.DisplayFor(modelItem => m.Description)</td>
                <td>@Html.DisplayFor(modelItem => m.IsInCourse)</td>
                <td>
                    <a title="Details" class="nav-link p-0 d-inline" style="text-decoration:underline" asp-area="Member"
                       asp-controller="Enrolment" asp-action="Details" asp-route-id="@m.GroupId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>